In [45]:
#람다함수 정의하고 add라는 변수를 통해 참조하기
add = lambda x, y: x + y
print('100과 200의 합 :', add(100,200))

#인라인 람다 함수와 인자를 이용한 덧셈
print('100과 200의 합 :', (lambda x, y: x+ y)(100, 200))

100과 200의 합 : 300
100과 200의 합 : 300

In [46]:
#LAB 10-1

#1번
def sub(x, y):
    return x - y

print('200 - 100 =', sub(200, 100))

#2번
sub = lambda x, y : x - y
print('200 - 100 =', sub(200, 100))

200 - 100 = 100
200 - 100 = 100

In [47]:
#필터 함수의 사용
def adult_func(n):
    if n>=19:
        return True
    else:
        return False
    
ages = [34, 39, 20, 18, 13, 54]
print('성년 리스트 :')
for a in filter(adult_func, ages):
    print(a, end = ' ')
    
print('\n')
#람다 함수를 이용한 간략화된 필터
print('성년 리스트 :')
for a in filter(lambda x : x>=19, ages):
    print(a, end = ' ')

성년 리스트 :
34 39 20 54

성년 리스트 :
34 39 20 54

In [48]:
#추가 실습: 1~100에서 짝수 리스트만 추출하기
num_list = []
even_list = []
for n in range(1,101):
    num_list.append(n)
    
for even in filter(lambda x : (x%2 == 0), num_list):
    even_list.append(even)
    
print('even_list =', even_list)

even_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [49]:
#LAB 10-2
#1번
n_list = [1,2,3,4,5,6,7,8,9,10]
even_list = []

for even in filter(lambda x : (x%2 == 0), n_list):
    even_list.append(even)
print('(1) even_list에 하나하나 추가하기 :', even_list)
    
print('(2) list() 이용하여 리스트 객체로 만들기 :', list(filter(lambda x : (x%2 == 0), n_list)))

print()
#2번
odd_list = []

for odd in filter(lambda x : (x%2 != 0), n_list):
    odd_list.append(odd)
print('(1) odd_list에 하나하나 추가하기 :', odd_list)
    
print('(2) list() 이용하여 리스트 객체로 만들기 :', list(filter(lambda x : (x%2 != 0), n_list)))

(1) even_list에 하나하나 추가하기 : [2, 4, 6, 8, 10]
(2) list() 이용하여 리스트 객체로 만들기 : [2, 4, 6, 8, 10]

(1) odd_list에 하나하나 추가하기 : [1, 3, 5, 7, 9]
(2) list() 이용하여 리스트 객체로 만들기 : [1, 3, 5, 7, 9]

In [50]:
#맵 함수와 람다 함수를 이용한 제곲갑 리스트 생성
#맵 함수: map(적용할 매핑 함수, 반복가능 객체)
a = [1, 2, 3, 4, 5, 6, 7]
square_a = list(map(lambda x: x**2, a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

In [52]:
#LAB 10-3
#1번
def to_upper(a):
    new_a = chr(ord(a) - ord('a') + ord('A'))  #chr: 아스키코드를 문자로 변환, ord: 문자를 아스키코드로 변환
    return new_a

a_list = ['a', 'b', 'c', 'd']
upper_a_list1 = list(map(to_upper, a_list))
print('to_upper 함수 정의하여 변환 :', upper_a_list1)

upper_a_list2 = list(map(lambda a : a.upper(), a_list))
print('람다 함수 이용 :', upper_a_list2)

to_upper 함수 정의하여 변환 : ['A', 'B', 'C', 'D']
람다 함수 이용 : ['A', 'B', 'C', 'D']

In [53]:
#리듀스 함수를 이용해 1부터 100까지 더하기
#리듀스: 반복가능 객체의 항목들에 대하여 주어진 함수로 연산을 한 값씩 반복적으로 수행
#ex. 1+2+3+4를 더한다면 1+2의 결과(3) 반환 후 다시 입력, 3+3의 결과(6) 반환 후 다시 입력, 6+4d의 결과(!0) 최종 반환
from functools import reduce
num_list = []
for n in range(1, 101):
    num_list.append(n)
    
n = reduce(lambda x,y: x+y, num_list)
print(n)

5050

In [54]:
#LAB 10-4
#1번: reduce() 함수를 이용해 1~100까지의 합을 구하되, range(1,101)을 입력으로 사용
n = reduce(lambda x,y : x+y, range(1,101))
print('1부터 100까지의 합 :', n)

#2번: reduce()를 이용해 10! 구하기
fact = reduce(lambda x,y : x*y, range(1,11))
print('10! =', fact)

1부터 100까지의 합 : 5050
10! = 3628800

In [55]:
#리스트 축약 표현: [ {표현식} for {변수} in {반복자/연속열} if {조건 표현식}]
#예제 1 : 리스트 축약 없이 맵 함수로 구현
a = [1, 2, 3, 4, 5, 6, 7]
a = list(map(lambda x: x**2, a))
print('맵 함수 이용 : ', a)

#일단 if 조건 없이 앞부분(반복문 부분까지)만 이용
#예제 2: 리스트 입력
a = [1, 2, 3, 4, 5, 6, 7]
a = [x**2 for x in a]
print('리스트 축약 이용(리스트 입력) :', a)

#예제 3: 반복 범위 입력
a = [x**2 for x in range(1, 8)]
print('리스트 축약 이용(범위 입력) : ', a)

맵 함수 이용 :  [1, 4, 9, 16, 25, 36, 49]
리스트 축약 이용(리스트 입력) : [1, 4, 9, 16, 25, 36, 49]
리스트 축약 이용(범위 입력) :  [1, 4, 9, 16, 25, 36, 49]

In [56]:
#LAB 10-5
#1번
cubic = [x**3 for x in range(1,11)]
print('cubic =', cubic)

#2번
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [x[:1] for x in a]
print('first_a =', first_a)

cubic = [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
first_a = ['w', 't', 't', 'p', 'w']

In [57]:
#리스트 축약 표현: if 조건식을 이용한 필터링 기능 추가
#예제 1: 리스트 축약 없이 맵 함수로 구현
ages = [34, 39, 20, 18, 13, 54]
adult_ages = list(filter(lambda x : x>=19, ages))
print('맵 함수 이용 : ', adult_ages)

#예제 2: 리스트 축약 표현을 이용한 필터링
print('리스트 축약 이용 :', [x for x in ages if x>=19])

맵 함수 이용 :  [34, 39, 20, 54]
리스트 축약 이용 : [34, 39, 20, 54]

In [58]:
#리스트 축약 추가 실습
#0~9까지 숫자를 포함하는 리스트
print([x for x in range(10)])

#0~9까지 숫자의 제곱값
print([x**2 for x in range(10)])

#0~9까지 숫자 중 짝수 값
print([x for x in range(10) if (x%2==0)])

#0~9까지 숫자 중 홀수 값
print([x for x in range(10) if (x%2!=0)])

#0~9까지 숫자 중 짝수의 제곱값
print([x**2 for x in range(10) if (x%2==0)])

#0~9까지 숫자 중 홀수의 제곱값
print([x**2 for x in range(10) if (x%2!=0)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 4, 16, 36, 64]
[1, 9, 25, 49, 81]

In [59]:
#정수를 여러 개 입력받는 두 가지 방법
#1
s = input('정수 5개를 입력하세요 :').split()
lst = [int(x) for x in s]
print(lst)

#2
print([int(x) for x in input('정수를 5개 입력하세요 :').split()])

정수 5개를 입력하세요 :1 2 3 4 5
[1, 2, 3, 4, 5]
정수를 5개 입력하세요 :1 2 3 4 5
[1, 2, 3, 4, 5]

In [60]:
#이중반복문 리스트 축약 형태로 표현하기
#리스트 축약 안 쓰고 코드 구현
product_xy = []
for x in [1,2,3]:
    for y in [2,4,6]:
        product_xy.append(x*y)
print('이중반복문만 사용:', product_xy)

#리스트 축약 사용
product__xy = [x*y for x in [1,2,3] for y in [2,4,6]]
print('리스트 축약 사용:', product__xy)

이중반복문만 사용: [2, 4, 6, 4, 8, 12, 6, 12, 18]
리스트 축약 사용: [2, 4, 6, 4, 8, 12, 6, 12, 18]

In [61]:
#리스트 축약형으로 공배수 구하기
#2와 3의 공배수 구하기
print([n for n in range(1,31) if n%2 == 0 if n%3 == 0])

#2와 3과 5의 배수 구하기
print([n for n in range(1,31) 
       if n%2 == 0 
       if n%3 == 0 
       if n%5 == 0])

[6, 12, 18, 24, 30]
[30]

In [17]:
#LAB 10-6
#1번
cubic = [x**3 for x in range(1,11) if (x**3)<= 500]
print('cubic =', cubic)

#2번
st = 'Hello 1234 Python'
st = st.split(' ')
digit_list = [list(x) for x in st if x.isdigit()]
for i in digit_list:
    print(i)

cubic = [1, 8, 27, 64, 125, 216, 343]
['1', '2', '3', '4']

In [22]:
#반복자 클래스 정의
class OddCounter:
    def __init__(self, n=1):
        self.n = n
        
    def __iter__(self):
        return self
    
    def __next__(self):
        t = self.n
        self.n += 2
        return t
    
my_counter = OddCounter()
print(next(my_counter))
print(my_counter.__next__())
print(my_counter.__next__())
print(my_counter.__next__())

1
3
5
7

In [23]:
#반복자 클래스 예외생성기능
class OddCounter:
    def __init__(self, n=1):
        self.n = n
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.n < 20: 
            t = self.n
            self.n += 2
            return t
        raise StopIteration
        
my_counter = OddCounter()
for x in my_counter:
    print(x, end =' ')

1 3 5 7 9 11 13 15 17 19

In [34]:
#LAB 10-7 반복자 객체 만들기
#1
class EvenCounter:
    def __init__(self, n=0):
        self.n = n
        
    def __iter__(self):
        return self
    
    def __next__(self):
        temp = self.n
        self.n += 2
        return temp
        
        
my_counter = EvenCounter()
print(next(my_counter), end = ' ')
print(my_counter.__next__(), end = ' ')
print(my_counter.__next__(), end = ' ')
print(my_counter.__next__(), end = ' ')
print(my_counter.__next__(), end = ' ')
print()

#2
my__counter = EvenCounter()
for n in my__counter:
    if(n>20):
        break
    print(n, end = ' ')

0 2 4 6 8
0 2 4 6 8 10 12 14 16 18 20

In [39]:
#반복가능 객체를 위한 내장함수
l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]

#all(): 반복 가능한 항목들이 모두 참일 때 참 반환
print('all(l1):', all(l1))
print('all(l2):', all(l2))
print('all(l3):', all(l3))
print()

#any(): 임의의 반복 가능한 항목들 중에서 참이 하나라도 있을 경우 참 반환
print('any(l1):', any(l1))
print('any(l2):', any(l2))
print('any(l3):', any(l3))
print()

#bool(): 값(리스트)을 부울 값으로 변환(=리스트의 항목 유무를 TF로 반환)
print('bool(l1):', bool(l1))
print('bool(l2):', bool(l2))
print('bool(l3):', bool(l3))  #항목이 다 0이어도 항목이 있기만 하면 True
l4 = []
print('bool(l4):', bool(l4))

all(l1): True
all(l2): False
all(l3): False

any(l1): True
any(l2): True
any(l3): False

bool(l1): True
bool(l2): True
bool(l3): True
bool(l4): False

In [41]:
#문자열과 리스트
#문자열을 문자리스트로 변환
char_list = list('hello')
print(char_list)

#문자열 공백기준으로 자르기
words = 'Python은 아름다운 언어입니다'
words_list = words.split()
print(words_list)

#공백이 아닌 구분자 지정하기
time_str = '2019.02.20'
time_list = time_str.split('.')
print(time_list)

#문자열 연결자로 합치기
print('.'.join(time_list))
print('-'.join(time_list))

['h', 'e', 'l', 'l', 'o']
['Python은', '아름다운', '언어입니다']
['2019', '02', '20']
2019.02.20
2019-02-20

In [44]:
#LAB 10-8
#1번
txt = 'Welcome to Busan Metropolitan City.'
print(txt.split())

#2
greet = 'Hello,My name is DongMin,Good to see you again'
print(greet.split(','))

#3
fruits = 'Apple|Banana|Melon|Orange'
fruits_list = list(fruits.split('|'))
print(fruits_list)

['Welcome', 'to', 'Busan', 'Metropolitan', 'City.']
['Hello', 'My name is DongMin', 'Good to see you again']
['Apple', 'Banana', 'Melon', 'Orange']